.main_container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, transparent 10%, rgb(15,18,15) 90%), url("../assets/pexels-adrian-kaźmierski-15563412.jpg");
    /* transform: rotate(90deg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero_image {
    width: 100%;
    height: 80vh;
    background-image: url("../assets/HeroImage.webp");
    background-position: center;
    background-repeat: no-repeat;
}

.information_container {
    background: transparent;
    width: 100vw;
    outline: 2px white solid;
    height: h;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.imgtext_container {
    background: transparent;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    height: 80vh;
    margin: 2.5rem 0;
}

.img1 {
    background-position: center;
    background-size: cover;
    background-image: url("../assets/016_TM_SG_08916.webp");
    height: 40vh;
    width: 30vw;
    margin: 2.5rem 0;
}

.img2 {
    background-position: center;
    background-size: cover;
    background-image: url("../assets/sB_uZ6Lc.webp");
    height: 40vh;
    width: 30vw;
    margin: 2.5rem 0;
}
.img3 {
    background-position: center;
    transform: scaleX(-1);
    background-size: cover;
    background-image: url("../assets/016_TM_SG_08916.webp");
    height: 40vh;
    width: 30vw;
    margin: 2.5rem 0;
}